/Concerts.csv
/ConcertsEvent0.csv
/demo.py
/Demo_data.csv
/Event.csv
/eventGetId.py
/page_source.html
/scrapy.cfg
/Sports.csv
/SportsEvent0.csv
/stubhub
/stubhub_data.py
/stubhub_nav1.py
/stubHub_navigation.py
/TheatreAndArts.csv
/TheatreAndArtsEvent0.csv
/event.py